<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
</head>
<body>
<!-- Include _menu.html -->
<!--<th:block th:include="/_menu"></th:block>-->

<h2>Admin Page</h2>
<h3>Welcome :
    <span th:utext="${#request.userPrincipal.name}"></span>
</h3>
<b>This is protected page!</b>

<br/><br/>

<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $.ajax({
        type: 'get',
        url: 'http://localhost:8080/user-api',
        success: function (user) {
            console.log(user)
            if(user.roleId == 1){
                window.onload = function (){
                    window.location.href = "http://localhost:8080/admin-category/list"
                }
            }
            if(user.roleId == 2){
                window.onload = function (){
                    window.location.href = "http://localhost:8080/homepage"
                }
            }
        }
    })
</script>

</html>